.square{
    width: 50px;
    height: 50px;
    background-color: tomato;
}
.circle{
    border-radius: 50%;
    width: 50px;
    height: 50px;    
    background-color: tomato;
}
.rectangle{
    width: 100px;
    height: 50px;    
    background-color: tomato;
}
.triangle{
    width: 0px;
    height: 0px;    
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid tomato;
}